// 通用变量
@bgc: #fff; // 主要背景色
@border: 1px solid #ccc;
@aColor: skyblue;

.mixin-body {
  font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  background-color: @bgc;
  font-size: 14px;
}

.mixin-header {
  height: 60px;
  background-color: #e5eaf8;
}

.mixin-sidebar {
  width: 140px;
  padding: 7px 0;
  // background: skyblue;
  // border-right: 1px solid #ccc;
}

// 块外盒子 
.mixin-block(@p: 16px, @br: 10px) {
  min-height: 40px;
  padding: @p;
  border-radius: @br;
}

.mixin-icon {
  font-size: 16px;
  color: #000;
}

// theme
@mainBgc: #3074b3;

// color
@color4: #95d475;
@color5: #529b2e;
@color6: #79bbff;
@color7: #337ecc;
@color8: #f3d19e;
@color9: #b88230;
@color10: #fab6b6;
@color11: #c45656;

.color4{
  background-color: @color4;
}
.color5{
  background-color: @color5;
}
.color6{
  background-color: @color6;
}
.color7{
  background-color: @color7;
}
.color8{
  background-color: @color8;
}
.color9{
  background-color: @color9;
}
.color10{
  background-color: @color10;
}
.color11{
  background-color: @color11;
}